body {
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

.card img {
  width: 100%;
  border-radius: 10px;
}